## Unpacking with * in Function Calls and Sequence Literals

In [3]:
def fun(a, b, c, d, *rest):
    return a, b, c, d, rest

In [4]:
fun(*[1, 2], 3, *range(4, 7))

(1, 2, 3, 4, (5, 6))

In [12]:
*range(4), 4

(0, 1, 2, 3, 4)

In [13]:
[*range(4), 4]

[0, 1, 2, 3, 4]

In [14]:
{*range(4), 3, *(5, 6, 7)}

{0, 1, 2, 3, 5, 6, 7}

## Nested Unpacking

In [15]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [34]:
def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for name, _, _, (lat, lon) in metro_areas:
        if lon <= 0:
            print(f'{name:15} {lat:9.4f} | {lon:9.4f}')

In [35]:
if __name__ == '__main__':
    main()

                |  latitude | longitude
Mexico City       19.4333 |  -99.1333
New York-Newark   40.8086 |  -74.0204
São Paulo        -23.5478 |  -46.6358

## Pattern Matching with Sequences

In [ ]:
def handle_command(self, message):
    match_message:
        case ['BEEPER', frequency, times]:
            self.beep(times, frequency)
        case ['NECK', angle]:
            self.rotate_neck(angle)
        case ['LED', ident, intensity]:
            self.leds[ident].set_brighntess(ident, intensity)
        case ['LED', ident, red, green, blue]:
            self.leds[ident].set_color(ident, red, green, blue)
        case _:
            raise InvalidCommand(message)

### Destructuring nested tuples

In [37]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [38]:
def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for record in metro_areas:
        match record:
            case [name, _, _, (lat, lon)] if lon <= 0:
                print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

In [ ]:
if __name__ == '__main__':
    main()